<header>
	<button
		mat-icon-button
		aria-label="Close menu"
		i18n-aria-label="@@app.menu.close"
		type="button"
		(click)="closeMenu()"
	>
		<mat-icon>close</mat-icon>
	</button>
</header>
<mat-nav-list>
	@for (item of menuItems; track item) {
	<a
		mat-list-item
		[routerLink]="item.route"
		routerLinkActive="active"
		[routerLinkActiveOptions]="{exact:true}"
		#rla="routerLinkActive"
		[activated]="rla.isActive"
		(click)="closeMenu()"
	>
		<span matListItemIcon>
			<mat-icon>{{ item.icon }}</mat-icon>
		</span>
		<span matListItemTitle>{{ item.label }}</span>
	</a>
	}

	<mat-divider></mat-divider>

	@for (link of navigationLinks; track link) {
	<a mat-list-item [href]="link.url" target="_blank" (click)="closeMenu()">
		<span matListItemIcon>
			<mat-icon>{{ link.icon }}</mat-icon>
		</span>
		<span matListItemTitle>{{ link.label }}</span>
	</a>
	}
</mat-nav-list>
